# Android Studio / IntelliJ IDEA
.idea/
*.iml
*.iws
.gradle/
local.properties
build/

# Package Objects
*.jar
*.aar

# Log Files
*.log

# Android Cache / Captures
captures/
.externalNativeBuild/
.cxx/

# User-specific configuration
.idea/caches/
.idea/libraries/
.idea/modules.xml
.idea/workspace.xml
.idea/navEditor.xml
.idea/assetWizardSettings.xml

# OS Specific
.DS_Store
Thumbs.db

# Default ignored files
/shelf/
/workspace.xml
